@model IEnumerable<Shopping.Areas.Manage.Models.RoleGroupModel>

@{
    ViewBag.Title = "RoleGroupList";
    Layout = "~/Areas/Manage/Views/Shared/_Main.cshtml";
}

<h2>RoleGroupList</h2>

<p>
    @Html.ActionLink("新增", "EditRGroup")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RG_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RG_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RG_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RG_name)
        </td>
        <td>
            @Html.ActionLink("修改", "EditRGroup", new {  id=item.RG_no  }) 
        </td>
    </tr>
}

</table>
